#prompt-message{
    margin-left: 10rem;
    font-size: 2rem;
}


.flight-option-container{
    margin: auto;
    display: flex;
    justify-content: center;
     justify-content: center;
    border: 1px solid black;
    width: 70%;
    height: 90%;
    min-height: 12rem;
}
