.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners[type=number] {
    -moz-appearance: textfield;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.252)),  url("../images/landingBG.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-position: center center;
    background-size: cover;
}

#reg-form{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;  
    
}

#reg-form form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px; 
}